@charset "UHF-8";
@font-face {
    font-family: 'Idroid';
    src: url(../fontes/idroid.otf) format(opentype);
}
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format(opentype);
    font-weight: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fontes/bebas/Bebas-Regular.otf') format(opentype);
    font-weight: normal;
}
:root {/* 
    Tipo de variantes em CSS3
    todo setor de variantes=var deve ser especificada com:
   :root { 
        --var:display: ;
   }
   */
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
   /* tova var deve começar do --var */
    --font-padrao: Arial, verdana, helvetica,sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}
* { /* Configuração geral do documento .*/
    margin:0px;
    padding: 0px;
}
body {
    background-color: var(--cor0); /*#3dda84c9*/
    /* determina a cor do corpo */
    font-family: var(--font-padrao);
    /* Determina a familia da letra que estara no corpo */
}
a.externo::after {
    content: '\1f517';
}
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 100px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 3px;
}
header>h1 {
    color: white;
    font-family: var(--font-destaque);
    font-weight: normal;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 2.5em;
}
header>p {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
}
nav {
    padding: 10px 0px 0px 0px;
}
nav>a {
    text-shadow: 1px 1px 1px black;
    transition-duration: .5s;
    text-decoration: none;
    border-radius: 3px;
    padding: 10px 10px;
    font-weight: bold;
    color: #3ddc84;    
}
nav>a:hover {
    background-color: #2fa866;
    color: var(--cor5)
}
main {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 2px black;
    background-color: white;
    max-width: 800px;
    min-width: 300px;
    padding: 20px;
    margin: auto;
}
main img {
    display: block;
    margin: auto;
    width: 100%;
    /* Faz a imagem se adaptar ao browser */
}
main .pq {
    display: block;
    max-width: 300px;
    margin: auto;
}
main h2 {
    font-weight: normal;
    background-image: linear-gradient(to right, var( --cor2), transparent);
    padding: 0px 20px;
    color: var(--cor4);
    font-family: var(--font-android);
}
main h3 {
    background-image: linear-gradient(to right, var( --cor2), transparent);
    font-weight: normal;
    font-family: var(--font-android);
    color: var(--cor4);
    padding: 0px 20px;
}
main p {
    margin: 25px 0px;
    text-indent: 40px;
    text-align: justify;
    line-height: 1.2em; /* determina o espaco entre as linhas de texto */
    font-size: 1.3em;
}
main strong {
    font-weight: bold;
    padding: 0px 5px;
    border-radius: 4px;
    color: var(--cor4);
}
main a {
    background-color: #83e1ad;
    color: var(--cor4);
    font-weight: bold;
    text-decoration: none;
    padding: 2px 6px;
}
main a:hover {
    background-color: #063d1e;
    text-decoration: underline;
    transition-duration: .5s;
    color: #83e1ad;
}
main a:active {
    background-color: #c5ebd6;
}
iframe {
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.466);
    width: 100%;
}
aside {
    background-color: #83e1ad;
    margin-bottom: 40px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    padding-bottom: 20px;
    border-radius: 10px;
}
aside>p {
    margin: 20px 10px;
}
aside>ul {
    list-style-type: '\2714\00a0';/* isso muda o sinal da lista*/
    margin: 05px 40px;
    columns: 2;
}
aside h4 {
    font-family: var(--font-android);
    background-color: #063d1e;
    text-shadow: 2px 2px black;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 20px;
    color: #83e1ad;
    font-size: 24px;
}
abbr {
    text-decoration: none;
}
footer {
    background-color: var(--cor5);
    text-align: center;
    padding: 03px 0px;
    margin-top: 30px;
    color: var(--cor0);
}
footer>a {
    text-decoration: none;
    color: var(--cor0);
}
footer>a:hover {
    background-color: var(--cor0);
    color:var(--cor5)
}